<div class="containe">

    <!-- TÍTULO DA PÁGINA --> 
    <h1>LISTA DE TÉCNICOS</h1>

    <!-- Botão Criar Técnico -->
    <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary"><span>Criar Técnico</span></button>
  
    <!-- Filtro -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <!-- Tabela de Técnicos -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Columa Id do Técnico -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Columa Nome do Técnico -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>
      
          <!-- Columa CPF do Técnico -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
          </ng-container>
      
          <!-- Columa EMail do Técnico -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> EMail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Columa Ações do Técnico -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element"> Ações </td>
          </ng-container>          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>    
</div>