<div class="containe">

    <!-- TÍTULO DA PÁGINA --> 
    <h1>LISTA DE TÉCNICOS</h1>

    <!-- Botão Criar Técnico -->
    <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary"><span>Criar Técnico</span></button>
  
    <!-- Filtro -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <!-- Tabela de Técnicos -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Coluna Id do Técnico -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Coluna Nome do Técnico -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>
      
          <!-- Coluna CPF do Técnico -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
          </ng-container>
      
          <!-- Coluna EMail do Técnico -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> EMail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Coluna Ações do Técnico -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="update/{{ element.id }}">
                <i class="material-icons edit">edit</i>       
              </a>            
              <a routerLink="delete/{{ element.id}}">
                <i class="material-icons delete">delete</i>
              </a>                   
            </td>
          </ng-container>          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>    
    <br>
    <p class="fullWidth">Powered by Alexandre Bonturi Nóbrega</p>
    
</div>