<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Sistema de Help Desk</mat-card-title>
      <mat-card-subtitle>Produzido por um Dev Full Stack</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <br>
        <p>
            Olá! Seja muito bem-vindo(a) ao Sistema Help Desk, desenvolvido por Alexandre Bonturi Nóbrega 
            / Desenvolvedor Full Stack.
            <br />Esse é um sistema de gerenciamento de chamados de um Help Desk, desenvolvido em 
            Java 11, Spring Boot 2.7.5, Angular 15.0.2, Node 18.12.1 e MySQL.
            <br />O projeto tem como objetivo principal abordar os conceitos de desenvolvimento de aplicações Web,
            Autenticação e Autorização de usuários com Tokens JWT, Spring Security, REST APIs, JPA e muito mais. 
            <br />Em produção, o sistema estará rodando na nuvem sendo o front-end na Vercel e o back-end na Heroku.            
            <br />O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
            <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
            <br /> Att: Alexandre Bonturi Nóbrega - Full Stack Developer
        </p>
    </mat-card-content>
</mat-card>
